<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Banco de Sangue - Minha empresa</title>
    <link rel="icon" href="/img/icon.png">
    <link rel="stylesheet" href="/styles/empresa.css">
</head>
<body>
    <nav>
        <a href="#">LOGO</a>
        <a href="#">encessar sessão</a>
    </nav>

    <main>
        <section id="administracao">
            <p>Bem-vindo, adm!</p>
        </section>

        <section id="empresa">
            <h2>Empresa</h2>
            <button>Editar empresa</button>
            <button>Excluir empresa</button>
        </section>

        <section id="funcionario">
            <h2>Administração</h2>
            <button>Adicionar funcionário</button>
            <button>Buscar funcionários</button>
        </section>

        <section id="estoque">
            <h2>Estoque</h2>
            <button>Adicionar insumo</button>
            <button>Buscar insumos</button>
        </section>
    </main>
</body>
</html>