<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Banco de Sangue - Minha empresa</title>
    <link rel="icon" href="/img/icon.png">
    <link rel="stylesheet" href="/styles/empresa.css">
</head>
<body>
    <nav>
        <a href="/views/index.html">LOGO</a>
        <a href="/views/index.html">encessar sessão</a>
        <a href="/views/funcionario.html">funcionário (navegação provisória)</a>
    </nav>

    <div id="modal-deletar" class="modal">
        <a href="#" class="fechar">&times;</a>
        <form action="/deletar" method="POST">
            <h4>Deletar empresa?</h4>
            <input type="password" name="password" placeholder="Confirme com sua senha*" required>
            <a href="/recuperacao" class="esqueceu-senha" target="_blank">Esqueceu sua senha?</a>
            <p id="aviso" style="color: red">Ao deletar sua empresa, sua conta será encerrada**</p>
            <button type="submit">Deletar empresa</button>
        </form>
    </div>

    <div id="editar-empresa" class="modal">
        <h4>Editar empresa</h4>
        <a href="#" class="fechar">&times;</a>
        <button>Salvar alterações</button>
    </div>

    <div id="add-funcionario" class="modal">
        <a href="#" class="fechar">&times;</a>
            <form id="modal-add-funcionario" action="/add-fun" method="POST">
                <h4>Adicionar um funcionário</h4>
                <input type="text" name="name" placeholder="Nome do funcionário*" required>
                <select name="cargo" id="cargo">
                        <option>Cargo do funcionário</option>
                        <option value="limpeza">Limpeza</option>
                        <option value="balconista">Balconista</option>
                        <option value="estoque">Estoque</option>
                        <option value="outro">Outro</option>
                    </select>
                <input type="text" name="cpf" placeholder="CPF do funcionário*" required>
                <input type="tet" name="pis" placeholder="Carterira de Trab. do funcionário">
                <input type="tel" name="telefone" placeholder="(xx)xxxxx-xxxx">
                <input type="email" name="email" placeholder="E-mail de funcionário">
                <input type="text" name="complemento" placeholder="Complemento">
                <button type="submit">Cadastrar funcionário</button>
            </form>
    </div>

    <div id="buscar-funcionario" class="modal">
        <a href="#" class="fechar">&times;</a>
        <h4>Busca de funcionários</h4>
        <input type="search" name="busca" id="buscar-funcionario" placeholder="Buscar pelo nome do funcionário">
        <a id="aviso" style="color: red">Nenhum funcionário encontrado.</a> <!-- display none -->

    </div>

    <div id="add-doacao" class="modal">
        <a href="#" class="fechar">&times;</a>
        <form id="modal-add-doacao" action="/add-doacao" method="POST">
            <h4>Registrar uma doação</h4>
            <input type="text" name="name" placeholder="Nome do doador*" required>
            <select name="documento" id="documento" required>
                    <option>Documento c/ foto apresentado*</option>
                    <option value="rg">RG</option>
                    <option value="cnh">CNH</option>
                    <option value="carteira-trabalho">Carteira de trabalho</option>
                    <option value="carteira-conselho-prof">Carteira do Conselho Profissional</option>
            </select>
            <select name="tipo-sangue" id="tipo-sangue" required>
                <option>Tipo sanguíneo*</option>
                <option value="a+">A+</option>
                <option value="b+">B+</option>
                <option value="ab+">AB+</option>
                <option value="o+">O+</option>
                <option value="a-">A-</option>
                <option value="b-">B-</option>
                <option value="ab-">AB-</option>
                <option value="o-">O-</option>
            </select>
            <input type="tel" name="telefone" placeholder="(xx)xxxxx-xxxx">
            <input type="email" name="email" placeholder="E-mail de doador">
            <input type="text" name="complemento" placeholder="Complemento">

            <div class="checkbox-group">
                <div class="checkbox-item">
                    <input type="checkbox" id="condicao1" required>
                    <label for="condicao1">O doador tem entre 16 e 69 anos</label>
                </div>
                <div class="checkbox-item">
                    <input type="checkbox" id="condicao2" required>
                    <label for="condicao2">O doador tem mais de 50kg</label>
                </div>
                <div class="checkbox-item">
                    <input type="checkbox" id="condicao3" required>
                    <label for="condicao3">Não tomou vacina contra gripe há 48 horas</label>
                </div>
            </div>

            <button type="submit">Encaminhar doação</button>
        </form>
    </div>

    <div id="buscar-doador" class="modal">
        <a href="#" class="fechar">&times;</a>
        <h4>Busca de doador/doação</h4>
        <input type="search" name="busca" id="buscar-doador" placeholder="Buscar pelo nome do doador">
        
        <a id="aviso" style="color: red">Nenhum doador encontrado.</a> <!-- display none -->

    </div>

    <div id="buscar-bolsa-sangue" class="modal">
        <a href="#" class="fechar">&times;</a>
        <h4>Busca de bolsa de sangue</h4>
        <select name="tipo-sangue" id="tipo-sangue" required>
            <option>Buscar pelo tipo de sangue</option>
            <option value="a+">A+</option>
            <option value="b+">B+</option>
            <option value="ab+">AB+</option>
            <option value="o+">O+</option>
            <option value="a-">A-</option>
            <option value="b-">B-</option>
            <option value="ab-">AB-</option>
            <option value="o-">O-</option>
        </select>
        <a id="aviso" style="color: red">Nenhuma bolsa de sangue encontrada.</a>
    </div>

    <div id="add-insumos" class="modal">
        <a href="#" class="fechar">&times;</a>
        <h4>Adicionar insumo</h4>
        <form>
            <input type="text" name="name" placeholder="Insumo* ex: seringas" required>
            <input type="number" name="quantidade" placeholder="Quantidade* ex: 20" required>

            <button type="submit">Encaminhar doação</button>
        </form>
    </div>

    <div id="buscar-insumos" class="modal">
        <a href="#" class="fechar">&times;</a>
        <h4>Busca de insumos</h4>
        <input type="search" name="busca" id="buscar-insumos" placeholder="Buscar pelo nome do insumo">
        
        <a id="aviso" style="color: red">Nenhum insumo encontrado.</a>
    </div>

    <main>
        <section id="administracao">
            <h2>Bem-vindo ao painel de controle, adm! Administre sua empresa por aqui!</h2>
        </section>

        <section id="empresa">
            <h2>Empresa</h2>
            <a href="#modal-deletar" class="botao">Excluir empresa</a>
            <a href="#editar-empresa" class="botao">Editar empresa</a>
        </section>

        <section id="funcionario">
            <h2>Funcionários</h2>
            <a href="#add-funcionario" class="botao">Adicionar funcionário</a>
            <a href="#buscar-funcionario" class="botao">Buscar funcionários</a>
        </section>

        <section id="doador">
            <h2>Doações</h2>
            <a href="#add-doacao" class="botao">Registrar doador</a>
            <a href="#buscar-doador" class="botao">Buscar doador</a>
        </section>

        <section id="estoque">
            <h2>Estoque</h2>
            <a href="#buscar-bolsa-sangue" class="botao">Buscar bolsa de sangue</a>
            <a href="#add-insumos" class="botao">Adicionar insumo</a>
            <a href="#buscar-insumos" class="botao">Buscar insumos</a>
        </section>
    </main>
</body>
</html>