<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Banco de Sangue - Tarefas da empresa</title>
    <link rel="icon" href="/img/icon.png">
    <link rel="stylesheet" href="/styles/funcionario.css">
</head>
<body>
    <nav>
        <a href="/views/index.html" class="logo">
            <img src="/img/icon.png" alt="Logo" style="width: 70px; height: auto;">
        </a>
        <div class="divider"></div>
        <!-- Adicionar aqui um botão de logout com id para o script controlar -->
        <a href="#" id="btn-logout" class="logout">
            <img src="/img/icons/turnoff.png" alt="Encerrar Sessão" style="width: 40px; height: auto;">
            <br>
            <label class="legenda">Deslogar</label>
        </a>
    </nav>
        
    <div id="add-doacao" class="modal">
        <a href="#" class="fechar">&times;</a>
        <form id="modal-add-doacao" action="/add-doacao" method="POST">
            <h4>Registrar uma doação</h4>
            <input type="text" name="name" placeholder="Nome do doador*" required>
            <select name="documento" id="documento" required>
                    <option>Documento c/ foto apresentado*</option>
                    <option value="rg">RG</option>
                    <option value="cnh">CNH</option>
                    <option value="carteira-trabalho">Carteira de trabalho</option>
                    <option value="carteira-conselho-prof">Carteira do Conselho Profissional</option>
            </select>
            <select name="tipo_sangue" id="tipo-sangue" required>
                <option>Tipo sanguíneo*</option>
                <option value="a+">A+</option>
                <option value="b+">B+</option>
                <option value="ab+">AB+</option>
                <option value="o+">O+</option>
                <option value="a-">A-</option>
                <option value="b-">B-</option>
                <option value="ab-">AB-</option>
                <option value="o-">O-</option>
            </select>
            <input type="tel" name="telefone" placeholder="(xx)xxxxx-xxxx">
            <input type="email" name="email" placeholder="E-mail do doador">
            <input type="text" name="complemento" placeholder="Complemento">

            <div class="checkbox-group">
                <div class="checkbox-item">
                    <input type="checkbox" id="condicao1" name="condicao_1" required>
                    <label for="condicao1">O doador tem entre 16 e 69 anos</label>
                </div>
                <div class="checkbox-item">
                    <input type="checkbox" id="condicao2" name="condicao_2" required>
                    <label for="condicao2">O doador tem mais de 50kg</label>
                </div>
                <div class="checkbox-item">
                    <input type="checkbox" id="condicao3" name="condicao_3" required>
                    <label for="condicao3">Não tomou vacina contra gripe há 48 horas</label>
                </div>
            </div>

            <button type="submit">Encaminhar doação</button>
        </form>
    </div>

    <div id="buscar-doador" class="modal">
        <a href="#" class="fechar">&times;</a>
        <h4>Busca de doador/doação</h4>
        <!-- Criar o formulário de busca -->
        <form id="form-busca-doador">
            <input type="search" name="query" placeholder="Buscar pelo nome do doador">
            <button type="submit">Buscar</button>
        </form>
        <div id="resultado-busca-doador"></div>
        <a id="aviso" style="color: red; display: none;">Nenhum doador encontrado.</a>
    </div>

    <div id="buscar-bolsa-sangue" class="modal">
        <a href="#" class="fechar">&times;</a>
        <h4>Busca de bolsa de sangue</h4>
        <form id="form-busca-bolsa">
            <select name="tipo_sangue" required>
                <option value="">Buscar pelo tipo de sangue</option>
                <option value="a+">A+</option>
                <option value="b+">B+</option>
                <option value="ab+">AB+</option>
                <option value="o+">O+</option>
                <option value="a-">A-</option>
                <option value="b-">B-</option>
                <option value="ab-">AB-</option>
                <option value="o-">O-</option>
            </select>
            <button type="submit">Buscar</button>
        </form>
        <div id="resultado-bolsa"></div>
        <a id="aviso" style="color: red; display: none;">Nenhuma bolsa de sangue encontrada.</a>
    </div>

    <div id="add-insumos" class="modal">
        <a href="#" class="fechar">&times;</a>
        <h4>Adicionar insumo</h4>
        <form id="form-add-insumo">
            <input type="text" name="nome" placeholder="Insumo* ex: seringas" required>
            <input type="number" name="quantidade" placeholder="Quantidade* ex: 20" required>
            <button type="submit">Adicionar Insumo</button>
        </form>
        <div id="mensagem-sucesso" style="display: none; color: green; margin-top: 10px;">
            Insumo adicionado com sucesso!
        </div>
        <div id="mensagem-erro" style="display: none; color: red; margin-top: 10px;">
            Ocorreu um erro ao adicionar o insumo.
        </div>
    </div>

    <div id="buscar-insumos" class="modal">
        <a href="#" class="fechar">&times;</a>
        <h4>Busca de insumos</h4>
        <form id="form-busca-insumo">
            <input type="search" name="nome" placeholder="Buscar pelo nome do insumo">
            <button type="submit">Buscar</button>
        </form>
        <div id="resultado-insumos"></div>
        <a id="aviso" style="color: red; display: none;">Nenhum insumo encontrado.</a>
    </div>

    <main>
        <section id="doador">
            <h2>
                <img src="../img/icons/doador.png"/>
                Doações
            </h2>
            <div class="botao-container">
                <a href="#add-doacao" class="botao">
                    <img src="../img/icons/observacao.png"/>
                    <span>Registrar Doador</span>
                </a>
                <a href="#buscar-doador" class="botao">
                    <img src="../img/icons/procurar.png"/>
                    <span>Buscar Doador</span>
                </a>
            </div>
        </section>

        <section id="estoque">
            <h2>
                <img src="../img/icons/estoque.png"/>
                Estoque
            </h2>
            <div class="botao-container">
                <a href="#buscar-bolsa-sangue" class="botao">
                    <img src="../img/icons/procurar.png"/>
                    <span>Buscar Bolsa de Sangue</span>
                </a>
                <a href="#add-insumos" class="botao">
                    <img src="../img/icons/adicionar.png"/>
                    <span>Adicionar Insumo</span>
                </a>
                <a href="#buscar-insumos" class="botao">
                    <img src="../img/icons/procurar.png"/>
                    <span>Buscar Insumos</span>
                </a>
            </div>
        </section>
    </main>

    <!-- Scripts -->
    <script src="/scripts/funcionario.js"></script>
</body>
</html>
