body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(226, 226, 226);
}
nav{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 76px;
    height: 97vh;
    background-color: #2c3e50;
    padding: 15px;
    color: white;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}
nav .divider {
    width: 70px;
    height: 2px;
    background-color: white;
    margin: 12px 0;
}

nav .logout {
    margin-top: auto;
}
nav a{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    text-decoration: none;
    font-weight: bold;
    margin-bottom: 15px;
}
nav a:hover{
    color: #c5c5c5;
    cursor: pointer;
}
.legenda{
    font-size: 12px;
    text-align: center;
}
.modal{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 500px;
    background: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    z-index: 1000;
    padding: 20px;
    text-align: center;
}
.modal:target{
    display: block;
}
.fechar{
    position: absolute;
    top: 10px;
    right: 10px;
    text-decoration: none;
    font-size: 1.5em;
    font-weight: bold;
    color: #333;
}
.modal form{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.modal button{
    align-self: center;
    padding: 10px 20px;
    background-color: #7ca06a;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.modal button:hover{
    background-color: #659b4a;
}
.modal a#aviso{
    font-size: 0.9em;
    margin-top: 10px;
    display: block;
}
.modal input, .modal select{
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}
.modal label{
    display: block;
    text-align: left;
    font-size: 0.9em;
}
.checkbox-group{
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f89a9a;
}
/*----------------------------------------*/
main{
    margin-top: 0px;
    max-width: 100%;
    margin-left: 116px;
}
section:last-of-type{
    border-bottom: none;
}
section{
    margin: 10px auto;
    padding: 10px;
    border: 1px transparent;
    border-radius: 3px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* margin-top: 0px; */
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: center; */
}
section h2{
    display: flex;
    text-align: center;
    flex-direction: row;
    gap: 10px;
    font-size: 20px;
    margin-left: 15px;
}
section h2 img{
    width: 30px;
    height: 30px;
}
section div.botao-container{
    border-top: 1px solid #ddd;
    padding-top: 10px;
    margin-top: 10px;
}
section .botao-container{
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: flex-start;
    width: 100%;
}
section img{
    width: 30px;
    height: 30px;
    margin-bottom: 10px;
}
section .botao{
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    color: white;
    background-color: #007BFF;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.5s ease;
    margin-right: 10px;
    flex-direction: column;
    width: 120px;
    /* justify-content: center; */
    /* margin: 0; */
    /* font-weight: bold; */
    /* text-align: center; */
    /* border: none; */
    /* cursor: pointer; */
    /* font-size: 1em; */
    /* gap: 10; */
}
section .botao:hover{
    background-color: #0056b3;
}
section .botao:focus{
    outline: 2px solid #34495e;
}
section .botao span{
    font-size: 11px;
}