body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    background-color: #f4f4f4;
    overflow-x: hidden;
    background-image: url('/img/fundo.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
}
nav{
    display: flex;
    align-items: center;
    background-color: #690d0d;
    padding: 25px;
    color: white;
    overflow-x: hidden;
    z-index: 10;
}
nav .logo{
    margin-right: auto;
}
nav .logo img{
    width: 50px;
    height: 50px;
}
nav .menu{
    display: flex;
    gap: 25px;
    margin-left: auto;
}
nav a{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    color: white;
    font-weight: bold;
    width: auto;
    gap: 5px;
    cursor: pointer;
}
nav a img{
    width: 30px;
    height: auto;
}
nav a .legenda{
    cursor: pointer;
}
.legenda{
    font-size: 15px;
    text-align: center;
}
.modal{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 500px;
    background: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    z-index: 1000;
    padding: 20px;
    text-align: center;
}
.modal:target{
    display: block; 
}
.fechar{
    position: absolute;
    top: 10px;
    right: 10px;
    text-decoration: none;
    font-size: 1.5em;
    font-weight: bold;
    color: #333;
    cursor: pointer;
}
.fechar:hover{
    color: red;
}
form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
form input, form select, form button{
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}
form button{
    background-color: #690d0d;
    color: white;
    border: none;
    cursor: pointer;
    font-weight: bold;
}
form button:hover{
    background-color: #490909;
}
#slogan{
    align-self: center;
    color: #690d0dc4;
    padding: 150px 40px;
    flex-grow: 1;
}
#informacoes-sistema{
    padding: 20px 0;
    background-color: #690d0d96;
    margin-top: 20px;
}
.informacao-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 1000px;
    margin: 0 auto;
    padding: 10px;
}
.informacao-texto {
    width: 80%;
    padding: 20px;
    color: #fff;
    text-align: justify;
}
.informacao-texto-informacoes{
    width: 80%;
    color: #690d0d;
    text-align: center;
}
.informacao-texto-informacoes h2 {
    color: #690d0d;
    font-size: 28px;
    margin-bottom: 20px;
}
.informacao-texto-informacoes p {
    color: #690d0d;
    font-size: 16px;
    line-height: 1.6;
}
.informacao-imagem {
    display: flex;
    justify-content: space-around;
    gap: 50px;
    flex-wrap: wrap;
    margin-top: 20px;
    /* width: 50px;
    height: auto;
    margin-right: 15px; */
}
.informacao-imagem img {
    max-width: 100%;
    height: auto;
}
#mais-infomacoes{
    padding: 20px 0;
    background-color: #690d0dc4;
    margin-top: 20px;
    margin-bottom: 20px;
}
.colaborador {
    text-align: center;
    max-width: 200px;
}

.colaborador img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.colaborador p {
    margin-top: 10px;
    font-size: 16px;
    color: #690d0dc4;
    font-weight: bold;
}
/*------------------------------------------*/
footer{
    background-color: #690d0d;
    color: #ffffff;
    padding: 20px;
    display: table;
    width: 100%;
}
footer dl, footer p{
    display: table-cell;/*DIVIDE EM CELULAS*/
    vertical-align: middle;
}
footer dt{
    font-weight: bold;
}
footer a{
    cursor: pointer;
    text-decoration: none;
    color: #dcdada;
}
footer a:hover {
    color: #b2afaf;
}
footer img{
    height: 100px;
}